.card-holder {
	margin: 1em;
	height: auto;
	width: 43em;
	padding: 10px;
	border: 1px solid black;
}

.card {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.save-button {
	position: relative;
	left: 73%;
}
