#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.card-holder {
	margin: 1em;
	height: auto;
	width: 28em;
	padding: 10px;
	border: 1px solid black;
}

.card {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
